{% extends "layout.html" %}
{% block body %}
<article itemscope itemtype="http://schema.org/Article">
    <h1 itemprop="headline">{{ model.Article.Title }}</h1>
    <div class="row">
        <div class="col-sm-6 col-md-6" itemprop="keywords">
            <span class="fa fa-tags"></span>
            {% for tag in model.Article.Tags %}
                <a href="/{{ model.Article.Language }}/tag/{{ tag }}/" class="label label-default">{{ tag }}</a>
            {% endfor %}
        </div>
        <div class="devcrafting-mobile-text-right col-sm-6 col-md-6">
            <!-- TODO: nb comments + link => Disqus -->
            <span class="fa fa-clock-o"/>
            <time itemprop="datePublished" datetime="{{ model.Article.Date | Date: 'O' }}">
            {{ model.Article.Date | localizedDate: model.Translations.dateFormat, model.Article.Language }}
            </time>
        </div>
    </div>
    <div class="devcrafting-article-body" itemprop="articleBody">
    {{ model.Article.Body }}
    </div>
    <!-- DISQUS integration -->
    <div id="disqus_thread"></div>
    <script>
    var disqus_config = function () {
        this.page.url = '{{ model.Article.CompleteUrl }}';
        //this.page.identifier = PAGE_IDENTIFIER; 
    };
    (function() { // DON'T EDIT BELOW THIS LINE
    var d = document, s = d.createElement('script');
    s.src = '//devcrafting-1.disqus.com/embed.js';
    s.setAttribute('data-timestamp', +new Date());
    (d.head || d.body).appendChild(s);
    })();
    </script>
    <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
</article>
{% endblock %}
