{% extends "layout.html" %}
{% block body %}
    {% block bodyHeader %}
        {{ model.Article.Body }}
    {% endblock %}
    {% for post in model.BlogPosts %}
        <article>
            <h3 class="devcrafting-post-title-listing"><a href="{{ post.Url }}">{{ post.Title }}</a></h3>
            <div class="row">
                <div class="col-sm-6 col-md-6">
                    <span class="fa fa-tags"></span>
                    {% for tag in post.Tags %}
                        <a href="/{{ post.Language }}/blog/tag/{{ tag }}/" class="label label-default">{{ tag }}</a>
                    {% endfor %}
                </div>
                <div class="devcrafting-mobile-text-right col-sm-6 col-md-6">
                    <!-- nb comments + link => Disqus -->
                    <span class="fa fa-clock-o"/>
                    {{ post.Date | localizedDate: model.Translations.dateFormat, post.Language }}
                </div>
            </div>
            <p class="lead">{{ post.Abstract }}</p>
            <p class="text-right">
                <a href="{{ post.Url }}">
                    {{ model.Translations.continueReading }}
                </a>
            </p>
        </article>
        <hr/>
    {% endfor %}
{% endblock %}
