{% extends "layout.html" %}
{% block body %}
    {% block bodyHeader %}
        {{ model.Article.Body }}
    {% endblock %}
    {% for post in model.BlogPosts %}
        <article>
            <h3 class="devcrafting-post-title-listing" itemprop="headline">
                <a href="{{ post.Url }}" itemprop="url">{{ post.Title }}</a></h3>
            <div class="row">
                <div class="col-sm-6 col-md-6" itemprop="keywords">
                    <span class="fa fa-tags"></span>
                    {% for tag in post.Tags %}
                        <a href="/{{ post.Language }}/tag/{{ tag }}/" class="label label-default">{{ tag }}</a>
                    {% endfor %}
                    {{ post.Comments.CountWidget }}
                </div>
                <div class="devcrafting-mobile-text-right col-sm-6 col-md-6">
                    <span class="fa fa-clock-o"/>
                    <time itemprop="datePublished" datetime="{{ post.Date | Date: 'O' }}">
                    {{ post.Date | localizedDate: model.Translations.dateFormat, post.Language }}
                    </time>
                </div>
            </div>
            <p class="lead" itemprop="about">
                {{ post.Abstract }}
            </p>
            <p class="text-right">
                <a href="{{ post.Url }}" itemprop="url">
                    {{ model.Translations.continueReading }}
                </a>
            </p>
        </article>
        <hr/>
    {% endfor %}
{% endblock %}
